.category-menu {
    .current {
        color: #3D7AA5;
    }
    
    a {
        color: inherit;
    }
    li {
        color: initial;
    }
}

$margin-base: 1rem;
.category-menu-list {
    padding: 0;
    list-style: none;
    &>.category-menu-item {
        font-weight: bold;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: $margin-base;
        padding: {
            bottom: $margin-base;
        }
        border-bottom: 1px solid #8A8A8A;
        position: relative;
        a {
            margin-bottom: $margin-base/1.5;
            display: block;
        }
        .chevron {
            font-size: 1.5rem;
            font-weight: normal;
            position: absolute;
            right: 0;
            margin-top: -10px;
            top: 0;
            cursor: pointer
        }
    }
}

.category-menu-dropdown {
    list-style: none;
    padding: {
        left: 1.5rem;
    }
    .category-menu-item {
        font-weight: normal;
        &:not(:last-child) {
            margin: {
                bottom: $margin-base/2;
            }
        }
        a {
            margin-bottom: $margin-base/2;
            display: block;
        }
    }
}