#footer {
    background: #272727;
    color: #fff;
    line-height: 2.3rem;
    position: relative;
    clear: both;
    
    a {
        color: #fff;
    }
}

.socials {
    margin: 0;
    li {
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 1rem;
    }
}
