    .sidebar {
        a {
            color: inherit;
        }
        li {
            color: initial;
        }
        .current {
            color: $text-highlight
        }
        &-mobile {
            height: 100vh;
            position: absolute;
            width: 100%;
            margin-left: -.25rem;
            top: -57px;
            transition-property: transform !important;
            z-index: -1;
            animation: toZIndex0 .5s forwards;
            &.open {
                z-index: 99;
                //transform: translateX(80%);
                transition-delay: .2s;
                animation: toZIndex99 .5s forwards;
            }
            &-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: inherit;
            }
            &-overlay {
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                transform: translateX(100%);
                .open & {
                    transform: translateX(80%);
                }
                position: absolute!important;
            }
            &-content {
                background: #fff;
                height: 100%;
                width: 80%;
                padding: 3rem;
                transform: translateX(-100%);
                transition-property: transform!important;
                overflow-y: auto;
                >* {
                    transition: all .3s ease-in-out;
                    transition-delay: .4s;
                    opacity: 0;
                    transform: translateX(-30%);
                }
                .open & {
                    transform: translateX(0%);
                    >* {
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
            }
        }
        &-toggle-btn {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            z-index: 9999;
            font-size: 2rem;
            left: 0;
            &.open {
                left: calc(80% - 1.5rem - .5rem);
                transform: rotateZ(180deg);
                box-shadow: none!important;
                border-radius: 50%!important;
            }
        }
        &-toggle-start {
            position: relative;
            width: 100%;
            &.float {
                position: absolute;
                height: 3rem;
                top: 25%;
            }
            &.static {
                #sidebar-toggle-btn {
                    border-radius: 0;
                    position: fixed;
                    top: 33.33%!important;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -1px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    
    .widget-item {
        border-bottom: 1px solid #8A8A8A;
        position: relative;
        margin-bottom: $margin-base;
        text-transform: capitalize;
        &.no-border {
            border-bottom: 0;
            margin-bottom: 0!important;
        }
        .widget-item-header {
            margin-bottom: $margin-base;
            .extra-text {
                margin-right: 2rem;
                float: right;
            }
        }
        .widget-item-content {
            padding: {
                left: 1rem;
                bottom: $margin-base/2;
            }
            >* {
                margin-bottom: $margin-base/2;
            }
        }
        &:last-child {
            .widget-item-content {
                padding-bottom: 0;
                >*:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .widget-item-title {
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: $margin-base;
            margin-left: $margin-base;
            padding: {
                bottom: $margin-base;
            }
        }
        .chevron {
            font-size: 1.5rem;
            font-weight: normal;
            position: absolute;
            right: 0;
            margin-top: -10px;
            top: 0;
            cursor: pointer
        }
        .no-left-space {
            margin-left: -$margin-base;
            width: calc(100% + #{$margin-base});
        }
        .btn {
            color: inherit;
            text-transform: uppercase;
            padding: .3rem 2rem .4rem 2rem;
            line-height: 1.8rem
        }
        select {
            height: 2.6rem!important;
        }
    }
    
    .sidebar-widget-menu {
        list-style: none;
        padding: {
            left: 0;
        }
        .sidebar-widget-item {
            font-weight: normal;
            &:not(:last-child) {
                margin: {
                    bottom: $margin-base/2;
                }
            }
            a {
                margin-bottom: $margin-base/2;
                display: block;
            }
        }
    }
    
    @keyframes toZIndex0 {
        from {
            z-index: 99;
            opacity: 1;
        }
        to {
            z-index: -1;
            opacity: 0;
        }
    }
    
    @keyframes toZIndex99 {
        from {
            z-index: -1;
            opacity: 0;
        }
        to {
            z-index: 99;
            opacity: 1;
        }
    }