@import 'time-line/variables'; // colors, fonts etc...
@import 'time-line/mixins'; // custom mixins
@import 'time-line/layout'; // responsive grid and media queries

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

$base-left: 3rem;
$dot-size: 1rem;
$content-title-height: 2rem;
$break: lg;
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: $L; // breakpoints inside partials > _layout.scss
    margin: 0 auto;
    &::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
}


/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
    position: relative;
    margin: {
        top: 2em;
        bottom: 2em;
    }
    padding-bottom: 5rem;
    &::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: $base-left;
        height: 100%;
        width: 1px;
        background: #b9b7b7;
    }
    &::after {
        content: "";
        background: url('/img/time-line-end.png');
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: $base-left - 1.3rem;
        height: 2.6rem;
        width: 2.6rem;
    }
    @include media-breakpoint-up($break) {
        margin: {
            top: 1.5rem;
            bottom: 3rem;
        }
        &::before {
            left: 50%;
        }
        &::after {
            left: calc(50% - 1.3rem);
        }
    }
}

.cd-timeline-title {
    left: $base-left/2;
    position: relative;
    .text {
        background: #272727;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        min-width: 200px;
        font-size: 20px;
        padding: .3rem;
        padding-bottom: .5rem;
        font-weight: 300;
        line-height: $content-title-height;
    }
    @include media-breakpoint-up($break) {
        left: 0;
        text-align: center;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    @include media-breakpoint-up($break) {
        margin: 4em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cd-timeline-dot {
    position: absolute;
    top: $content-title-height/2 - $dot-size/2 - .1rem;
    left: $base-left - $dot-size/2;
    width: $dot-size;
    height: $dot-size;
    border-radius: 100%;
    border: 1px solid #b9b7b7;
    background: #fff;
    @include media-breakpoint-up($break) {
        left: 50%;
        margin-left: -$dot-size/2;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: $base-left + $base-left/2;
    h2 {
        color: $color-1;
    }
    p {
        margin: 1em 0;
        line-height: 2;
    }
    .cd-icon {
        display: none;
    }
    @include media-breakpoint-up($break) {
        h2 {
            @include font-size(20px);
        }
        p {
            @include font-size(16px);
        }
        .cd-icon {
            @include font-size(14px);
        }
    }
    @include media-breakpoint-up($break) {
        width: 47%;
        &::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: $color-3;
        }
        $icon-size: 120px;
        .cd-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: $icon-size;
            height: $icon-size;
            transform: translateY(-50%);
            top: 50%;
            border-radius: 50%;
            background: #7c7d7d;
            color: #fff;
            img {
                max-width: 100%;
            }
        }
        @mixin content-even {
            float: right;
            .cd-icon {
                left: auto;
                right: 115%;
                text-align: right;
            }
        }
        @mixin content-odd {
            margin-left: 0;
            text-align: right;
            .cd-icon {
                left: 115%;
                right: auto;
                text-align: left;
            }
        }
        .cd-timeline-block.even & {
            @include content-even();
        }
        .cd-timeline-block.odd & {
            @include content-odd();
        }
    }
}