.outer-nav.left {
    left: 7%;
}

.outer-nav.vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
}

.perspective.animate .outer-nav a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.perspective .outer-nav a {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    $transition-time: 0.4;
    @for $i from 1 through 10 {
        $time: $i*0.1;
        &:nth-child(#{$i}) {
            transition: transform 0.4s + $time, opacity 0.4s + $time;
        }
    }
}

.outer-nav.vertical a {
    display: block;
}

.outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
    color: $text-dark;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &.current {
        color: $text-highlight;
        font-weight: bold;
    }
}